<div class="row">
    <div class="col-lg-12">

        <button ng-click="newFile()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New</button>

    </div>
</div>
<br>
<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Name</th>
                    <th>Imported On</th>
                    <th>Account</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in fileList">
                    <td class="text-center">{{file.FileID}}</td>
                    <td>{{file.FileName}}</td>
                    <td>{{file.CreatedOn}}</td>
                    <td>{{file.Account}}</td>
                    <td><button class="btn btn-primary btn-xs" ng-click="deleteFile(file.FileID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
