
<!-- Fixed navbar -->
<div class="navbar navbar-static navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-left " data-toggle="sidebar" data-target=".sidebar-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" href="#">{{selectedAccount}} </div>
            
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="app.dashboard({accountID: selectedAccountID})" ui-sref-active>Dashboard</a></li>
            <li><a ui-sref="app.transactions({accountID: selectedAccountID})" ui-sref-active>Transactions</a></li>
            <li><a ui-sref="app.reports.menu({accountID: selectedAccountID})" ui-sref-active>Reports</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="app.files()">Files</a></li>
                    <li><a ui-sref="app.rules()">Rules</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<!-- Begin page content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate ">
            <ul class="nav navbar-stacked">
                <li class="active">
                    <a ui-sref="app.dashboard({accountID: selectedAccountID})" ui-sref-active>Dashboard</a>
                </li>
                <li>
                    <a ui-sref="app.transactions({accountID: selectedAccountID})" ui-sref-active>Transactions</a>
                </li>
                <li>
                    <a ui-sref="app.reports.menu({accountID: selectedAccountID})" ui-sref-active>Reports</a>
                </li>
            </ul>
        </div>


        <div class="main col-md-12 " >

            <div class="row">
                <div class="col-xs-6 col-sm-2">

                    <div class="panel panel-default" style="position: fixed" >
                        <div class="panel-heading">Accounts
                            <button ng-click="newAccount()" id="btnAddAccount" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="right" title="Add account">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="panel-body panel-body-accounts">

                            <table class="table table-hover " style="width:100%">

                                <tbody>
                                    <tr ng-repeat="account in Accounts"  ng-class="{'is-selected': account.AccountID == accountID}" style="cursor: pointer">
                                        <td  >

                                            <a ng-click="selectAccount(account.AccountID)"><strong>{{account.Description}}</strong></a>
                                            <button ng-click="editAccount(account.AccountID)" ng-show="account.AccountID > 0" 
                                                    class="btn btn-link btn-xs show-on-row-hover pull-right" 
                                                    style="padding-left:0px"><span class="fa fa-pencil"></span></button>

                                            <br>
                                            <strong>£{{account.Balance | number : 2}}</strong>
                                            <br>
                                            <div ng-show="account.AccountID > 0" class="comment  pull-left">
                                                <small>Last tx: {{account.LastTransactionDate | date}}</small>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfooter>
                                    <tr>
                                        <th >


                                        </th>
                                    </tr>
                                </tfooter>

                            </table>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6 col-sm-10" ui-view ng-cloak>
                </div>

            </div>
        </div>



        <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-right sidebar-animate">
            <ul class="nav navbar-stacked">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/ng-template" id="EditAccountModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Account</h3>
    </div>
    <div class="modal-body">
        <alert type="danger" close="errorMsg=null" ng-show="errorMsg">{{errorMsg}}</alert>
        <form class="bs-example form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-lg-3 control-label">Description</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" ng-model="account.Description" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Bank</label>
                <div class="col-lg-9">
                    <select class="form-control" ng-model="account.BankName">
                        <option ng-repeat="item in Banks" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Savings Account</label>
                <div class="col-lg-9">
                    <input type="checkbox" class="form-control1" ng-model="account.IsSavingsAccount" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" ng-click="deleteAccount()">Delete</button>
        <button class="btn btn-success" ng-click="saveAccount()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>