
<div class="row">
    <div class="col-lg-12">
        <div class="widget">


            <tabset>
                <tab heading="Rules">

                    <button ng-click="newAccount()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New</button>

                    <table class="table table-responsive table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                 <th>Group</th>
                                 <th>Tag</th>
                                <th>Description</th>
                                <th>Is Tranfer</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rule in ruleList">
                                <td class="text-center">{{rule.RuleID}}</td>
                                <td>{{rule.TagGroup}}</td>
                                <td>{{rule.Tag}}</td>
                                <td>{{rule.Description}}</td>
                                <td><input type="checkbox" ng-model="rule.IsTranfer" disabled></td>
                                <td><button class="btn btn-primary btn-xs" ng-click="editRule(rule.RuleID)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                            </tr>
                        </tbody>
                    </table>

                </tab>
                
                <tab heading="Imported Files">
                    
                     <table class="table table-responsive table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>File Name</th>
                                <th>Account</th>
                                <th>Created On</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="file in FileList">
                                 <td class="text-center">{{file.FileID}}</td>
                                <td>{{ file.FileName }}</td>
                                <td>{{ file.Account }}</td>
                                <td>{{ file.CreatedOn }}</td>
                                <td>
                                <button class="btn btn-default btn-xs" ng-click="deleteStatementFile(file.FileID)" 
                                        data-toggle="tooltip" data-placement="top" title="Delete Statement">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </tab>


            </tabset>

        </div>
    </div>
</div>

