<div class="row">
    <div class="col-lg-4" ng-repeat="account in Accounts">
        <div class="widget hv">
            <div class="widget-body " ng-class="{'bg-success': account.AccountID == 0}">
                <div class="widget-content ">
                    <div class="widget-icon green pull-right">
                        <i class="fa fa-gbp"></i>
                    </div>
                    <div class="comment">
                        <strong>{{account.Description}}</strong>
                    </div>
                    <div class="title">{{account.Balance | number : 2}}</div>
                    <div ng-show="account.AccountID > 0" class="comment  pull-left">
                       <a ui-sref="app.transactions({accountID : account.AccountID})"><small>Last Transaction: {{account.LastTransactionDate | date}}</small></a> 
                    </div>
                    <div class="comment">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class=" widget ">
            <div class="widget-body " >
                <div class="widget-content ">
                    <h4 class="font-thin m-t-none m-b text-muted">Monthly Credit/Debit 
                        <small> Last 12 Months</small>
                    </h4>
                    <canvas id="monthlyDebitCredit" class="chart chart-line" legend="true" height="100" data="monthlyDebitCredit.data" labels="monthlyDebitCredit.labels" series="monthlyDebitCredit.series"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class=" widget ">
            <div class="widget-body " >
                <div class="widget-content ">
                    <h4 class="font-thin m-t-none m-b text-muted">Running Balance 
                        <small>Last 24 Months</small>
                    </h4>
                    <canvas id="runningBalance" class="chart chart-line" legend="true" height="100" data="runningBalance.data" labels="runningBalance.labels" series="runningBalance.series"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
